div{
    font-size: large;
} 

.navbar{
    display:flex;
    justify-content: space-around;
    background-color: lemonchiffon;   
    color: purple;
    margin-bottom: 30px;
  
  a{
      color: purple }

}