.navbar{ 
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    background: #000862;
    margin: 0;
    color: whitesmoke;


ul {
    list-style-type: none; 
   
} 
a {
    color: whitesmoke;
    text-decoration: none;
}



}

#me {
    text-align: center;
}

.container1{
    background: #000862;
    color: whitesmoke;
    display: flex;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}